name: Mac-Tailscale-VNC

on:
  workflow_dispatch:

jobs:
  macos:
    runs-on: macos-latest
    name: macOS Remote Desktop

    steps:
      - name: Install Tailscale
        run: |
          brew install tailscale

      - name: Connect to Tailscale
        env:
          TAILSCALE_AUTHKEY: ${{ secrets.TAILSCALE_AUTHKEY }}
        run: |
          sudo tailscaled install-system-daemon
          sudo tailscale up \
            --authkey=${TAILSCALE_AUTHKEY} \
            --hostname=github-macos

      - name: Set password for runner (macOS)
        env:
          VNC_PASSWORD: ${{ secrets.VNC_PASSWORD }}
        run: |
          sudo dscl . -passwd /Users/runner "$VNC_PASSWORD"

      - name: Enable Screen Sharing (VNC)
        run: |
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart \
            -activate -configure -access -on \
            -configure -users runner \
            -configure -restart -agent -privs -all

      - name: Show Tailscale IP
        run: |
          echo "Tailscale IP:"
          tailscale ip -4

      - name: Keep session alive
        uses: mxschmitt/action-tmate@v2
